<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>About timger info</title> 
        <link rel="stylesheet" href="style.css" type="text/css"/> 
        <link rel="stylesheet" href="bootstrap.min.css" type="text/css"/> 
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="bootstrap-twipsy.js"></script>
        <script type="text/javascript" src="bootstrap-modal.js"></script>
        <script type="text/javascript" src="resume.js"></script>
    </head> 
    <style type="text/css">
    body{padding-top:40px;}
    </style>
    <body> 
<div class="container-fluid">
    <div class="sidebar">
        <ul class="pills">
          <li class="active span3"><a href="javascript:void(0)" tp="edus">教育经历</a></li>
          <li class="span3" tp="jobs"><a href="javascript:void(0)" tp='jobs'>职业经历</a></li>
          <li class="span3" tp="skills"><a href="javascript:void(0)" tp='skills'>技能详细</a></li>
          <li class="span3" tp="projects"><a href="javascript:void(0)" tp='projects'>项目主页</a></li>
          <li class="span3" tp="me"><a href="javascript:void(0)" tp='me'>关于我</a></li>
    </ul>
    </div>
<div class="content">
        <div class="" id="edus">
        </div>
        <div class="" id="jobs">
        </div>
        <div class="" id="skills">
        </div>
        <div class="" id="projects">
        </div>
        <div class="" id="me">
        </div>
        

<footer>
          <p>© timger 2011</p>
</footer>
</div>
</div>
<script id="t_skills" type="text/x-jquery-tmpl">
    <div class="alert-message block-message success">
        <a class="close" href="#" onclick="$(this).parent().hide()">×</a>
        <p><strong>${name}</strong></p>
        <p>${text}</p>
        <!--<div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
        -->
    </div>
</script>
<script id="t_edus" type="text/x-jquery-tmpl">
    <div class="alert-message block-message info">
        <a class="close" href="#" onclick="$(this).parent().hide()">×</a>
        <p><strong>${time}</strong>:${school}</p>
        <p>${text}</p>
        <!--<div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
        -->
    </div>
</script>
<script id="t_projects" type="text/x-jquery-tmpl">
    <div class="alert-message block-message warning">
        <a class="close" href="#" onclick="$(this).parent().hide()">×</a>
        <p><strong><a href='${url}'>${name}</a></strong></p>
        <p><a href='${url}'>${url}</a></p>
        {{html text}}
        <!--<div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
        -->
    </div>
</script>
<script id="t_jobs" type="text/x-jquery-tmpl">
    <div class="alert-message block-message error">
        <a class="close" href="#" onclick="$(this).parent().hide()">×</a>
        <p><strong>${time}</strong>:${company}</p>
        <p>${text}</p>
        <!--<div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
        -->
    </div>
</script>
<script id="t_me" type="text/x-jquery-tmpl">
    <div class="alert-message block-message message">
        <a class="close" href="#" onclick="$(this).parent().hide()">×</a>
        <!--<canvas id="mepic" > </canvas>-->
        <p><strong>${time}</strong></p>{{html text}}
        <!--<div class="alert-actions">
        <a class="btn small" href="#">Take this action</a> <a class="btn small" href="#">Or do this</a>
        </div>
        -->
    </div>
</script>
<div id="modal-from-dom" class="modal hide fade in" style="display:none; ">
            <div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>您好：</h3>
            </div>
            <div class="modal-body">
              <p>你是否会歧视非计算机专业的程序员?</p>
            </div>
            <div class="modal-footer">
              <a href="javascript:void(0)" class="btn primary" onclick="alert('我不适合你，请去其他地方看看');location.href='http://www.baidu.com'">是</a>
              <a href="javascript:void(0)" class="btn secondary" onclick="$('#modal-from-dom').modal('hide')" >否</a>
            </div>
</div>
<button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger" style="display:none" id="hello">Launch Modal</button>
    </body>
</html> 
